/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* Custom properties */
:root {
  --background-color-white: #FFFF;
  --background-color-black: #000000;
  --background-color-yellow: #FFD700;
  --text-color-yellow: #FFD700;
  --text-color-white: #FFFF;
}

html{
  cursor: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Heebo';
  justify-content:center;
  align-items:center;
  height: 100vh;
  color: var(--text-color-white);
  background-color: var(--background-color-black);
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

main{
  display: flex;
  align-items: center;
  width: 45vw;
  max-width: 44em;
  height: 40vh;
  background-color: var(--background-color-black);
  border: 10px solid var(--background-color-yellow);
  border-radius: 0.5em;
  z-index: 3;
}

.image-container, article{
  width: 50%;
}


.image-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em 0 0 0.5em;
}

/* image front page */
img {
  max-width: 150px;
  position:relative;
  border-radius: 0.5em;
}

/* github info */
.github-info-container{
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.github-info-container > span{
  margin-left: 0.2em;
}

/* article */
article{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

article > h1{
  font-size: 3em;
}

article > p{
  padding-top: 1em;
}

.links-container{
  margin-top: 1.5em;
  display: flex;
}

.links-container > a:nth-child(2){
  margin-left: 1em;
}

article > .links-container > a{
  text-decoration: none;
  color: var(--text-color-yellow);
  border: 2px solid var(--background-color-yellow);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: none;
}

/* custom mouse container */
.custom-mouse-container{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 15em;
  background-color: var(--background-color-yellow);
  /* standaard positie op 0 zetten voor coordinaten */
  top: 0;
  left: 0;
  /* midden zetten van muis op container */
  transform: translate(-25px, -25px);
  transition: ease-out 0.1s;
  z-index: 10;
}

/* opacity change when in container */
.mouse-hover-different-container{
  opacity: 0.5;
}

/* article:hover .custom-mouse-container{
  opacity: 0.5;
} */

/* background circle container */
.circle-container, .circle-container2, .circle-container3, .circle-container4, .circle-container5{
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 15em;
  background-color: var(--background-color-yellow);
  top: 15em;
  right: 30em;
}

.circle-container{
  animation: moveAroundCircle1 120s infinite linear;
  animation-delay: 0.3s;
}

.circle-container2{
  right: 40em;
  top: 50em;
  animation: moveAroundCircle2 120s infinite linear;
}

.circle-container3{
  right: 40em;
  top: -15em;
  animation: moveAroundCircle3 120s infinite linear;
}

.circle-container4{
  right: 5em;
  top: -15em;
  animation: moveAroundCircle4 120s infinite linear;
}


.circle-container5{
  right: -10em;
  top: 30em;
  animation: moveAroundCircle5 120s infinite linear;
}

/* Keyframes for animation */
@keyframes moveAroundCircle1 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-20em, -10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle2 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(50em, -10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle3 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-30em, 0);
  }
  75%{
    transform: translate(-30em, 20em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle4 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(10em, 10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle5 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-20em, -20em);
  }
  100%{
    transform: translate(0);
  }
}


