/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

/* Custom properties */
:root {
  --background-color-white: #FFFF;
  --background-color-black: #000000;
  --background-color-yellow: #FFD700;
  --text-color-yellow: #FFD700;
  --text-color-white: #FFFF;
}

html{
  cursor: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Heebo';
  justify-content:center;
  align-items:center;
  height: 100vh;
  color: var(--text-color-white);
  background-color: var(--background-color-black);
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

main{
  display: flex;
  align-items: center;
  width: 45vw;
  max-width: 44em;
  height: 40vh;
  background-color: var(--background-color-black);
  border: 10px solid var(--background-color-yellow);
  border-radius: 0.5em;
  z-index: 3;
}

.image-container, article{
  width: 50%;
}


.image-container{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5em 0 0 0.5em;
}

/* image front page */
img {
  max-width: 150px;
  position:relative;
  border-radius: 0.5em;
}

/* github info */
.github-info-container{
  display: flex;
  align-items: center;
  margin-top: 0.5em;
}

.github-info-container > span{
  margin-left: 0.2em;
}

/* article */
article{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
}

article > h1{
  font-size: 3em;
  opacity: 0;
  transition: ease 2s;
  transform: translateY(3em)
}

article > p{
  opacity: 0;
  padding-top: 1em;
  transition: ease 2s;
  transition-delay: 1s;
  transform: translateY(3em)
}

/* laad text in met JS class */
.showText{
  opacity: 1;
  transform: translateY(0)
}

.links-container{
  margin-top: 1.5em;
  display: flex;
}

.links-container > a:nth-child(2){
  margin-left: 1em;
}

article > .links-container > a{
  text-decoration: none;
  color: var(--text-color-yellow);
  border: 2px solid var(--background-color-yellow);
  border-radius: 0.5em;
  padding: 0.5em;
  cursor: none;
  transition: 1s ease;
  z-index: 10;
}

/* hover links */
article > .links-container a:hover{
  background-color: var(--background-color-yellow);
  color: var(--text-color-white);
}

/* custom mouse container */
.custom-mouse-container{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 15em;
  background-color: var(--background-color-yellow);
  /* standaard positie op 0 zetten voor coordinaten */
  top: 0;
  left: 0;
  /* midden zetten van muis op container */
  transform: translate(-25px, -25px);
  transition: ease-out 0.1s;
  z-index: 3;
  opacity: 0.75;
}

/* background circle container */
.circle-container, .circle-container2, .circle-container3, .circle-container4, .circle-container5, .circle-container6, .circle-container7, .circle-container8, .circle-container9{
  position: absolute;
  width: 20em;
  height: 20em;
  border-radius: 15em;
  background-color: var(--background-color-yellow);
  top: 15em;
  right: 30em;
}

.circle-container{
  animation: moveAroundCircle1 120s infinite linear;
  animation-delay: 0.3s;
}

.circle-container2{
  right: 40em;
  top: 50em;
  animation: moveAroundCircle2 120s infinite linear;
}

.circle-container3{
  right: 40em;
  top: -15em;
  animation: moveAroundCircle3 120s infinite linear;
}

.circle-container4{
  right: 5em;
  top: -15em;
  animation: moveAroundCircle4 120s infinite linear;
}


.circle-container5{
  right: -10em;
  top: 30em;
  animation: moveAroundCircle5 120s infinite linear;
}

.circle-container6{
  left: -5em;
  top: -10em;
  animation: moveAroundCircle6 120s infinite linear;
}

.circle-container7{
  left: 40em;
  top: 25em;
  animation: moveAroundCircle7 120s infinite linear;
}

.circle-container8{
  left: 35em;
  top: 50em;
  animation: moveAroundCircle8 120s infinite linear;
}

.circle-container9{
  left: -10em;
  top: 35em;
  animation: moveAroundCircle9 120s infinite linear;
}

/* Keyframes for animation */
@keyframes moveAroundCircle1 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-20em, -10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle2 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(50em, -10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle3 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-30em, 7.5em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle4 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(10em, 10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle5 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-20em, -20em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle6 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(5em, 5em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle7 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-35em, -10em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle8 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-25em, -2em);
  }
  100%{
    transform: translate(0);
  }
}

@keyframes moveAroundCircle9 {
  0%{
    transform: translate(0);
  }
  50%{
    transform: translate(-5em, -25em);
  }
  100%{
    transform: translate(0);
  }
}



